/target
/*.uncompressed
/*.cw
/whitelist.toml
/Config.toml
/Cargo.lock
/ops.toml
/banlist.toml
/ServerTest
/src/modernchunks.rs
/src/mcprotocol.rs.old
/src/mains.rs
/BetterThanMinecraft*
/config.toml
/launch.json
/builds
/buildscript.sh